{% extends 'base.html' %}
{% block content %}

<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('#');
        height: 600px;
        margin-top: 58px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Love what you eat</h1>
            <h4 class="mb-3">Check on our menu</h4>
            <a class="btn btn-outline-light btn-lg" href="{% url 'menu' %}" role="button"
            >Order Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
</header>

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                    <!--Section: Content-->
                    <section>
                    <!-- meals  -->
                    <div class="row">
                        {% for meal in meals %}
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                <img src="{{ meal.image.url }}" class="img-fluid" />
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-8 mb-4">
                            <h5>{{ meal.name }}</h5>
                            <p>{{ meal.description }}</p>
                            <p>{{ meal.price }}</p>
                            
                            <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ meal.pk }}"
                                autocomplete="off" />
                            <label class="btn btn-primary" for="btn-check">Order</label>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- desserts -->
                    <div class="row">
                        {% for dessert in desserts %}
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                <img src="{{ dessert.image.url }}" class="img-fluid"/>
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-8 mb-4">
                            <h5>{{ dessert.name }}</h5>
                            <p>{{ dessert.description }}</p>
                            <p>{{ dessert.price }}</p>
                            <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ dessert.pk }}"
                                autocomplete="off" />
                            <label class="btn btn-primary" for="btn-check">Order</label>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- drinks -->
                    <div class="row">
                        {% for drink in drinks %}
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                <img src="{{ drink.image.url }}" class="img-fluid" />
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-8 mb-4">
                            <h5>{{ drink.name }}</h5>
                            <p>{{ drink.description }}</p>
                            <p>{{ drink.price }}</p>
                            <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ drink.pk }}"
                                autocomplete="off" />
                            <label class="btn btn-primary" for="btn-check">Order</label>
                        </div>
                        {% endfor %}
                    </div>
                    </section>
                    <!--Section: Content-->
                </div>
            </div>
        </form>

        <!-- Pagination -->
        <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>

        <!-- checkout -->
        <div id="intro" class="text-center">
            <a class="btn btn-primary m-2" href="#" target="_blank"
            role="button">Check Out</a>
        </div>
    </div>
</main>
{% endblock content %}