{% extends 'base.html' %}
{% block content %}

<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('#');
        height: 300px;
        margin-top: 58px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-dark">
            <h1 class="mb-3">Thank you for your order!</h1>
            <h4 class="mb-3">Check on our menu</h4>
            <a class="btn btn-outline-dark btn-lg" href="{% url 'menu' %}" role="button"
            >Order Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
</header>

<!--Main layout-->
<main class="my-5">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                    <!--Section: Content-->
                    <section>
                        <!-- meals  -->
                        <div id="meals" class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-12 mb-4 my-5">
                                <div class="py-4 text-center">
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                    href="#meals" rel="nofollow">
                                    Check on Meals menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#desserts" rel="nofollow">
                                        Check on Desserts menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#drinks" rel="nofollow">
                                        Check on Drinks menu
                                    </a>
                                </div>
                            </div>

                            {% for meal in meals %}
                            <div class="col-md-4 mb-4 my-5">
                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                    <img src="{{ meal.image.url }}" class="img-fluid"/>
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                            </div>
                    
                            <div class="col-md-6 mb-4 my-5">
                                <h5>{{ meal.name }}</h5>
                                <p>{{ meal.description }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5 text-center">
                                <p>{{ meal.price }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5">
                                <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ meal.pk }}"
                                autocomplete="off" />
                                <label class="btn btn-dark btn-block mb-4" 
                                    style="background-color: #4f4f4f;"
                                    for="btn-check">
                                    Order
                                </label>
                            </div>

                            {% endfor %}
                        </div>

                        <!-- desserts -->
                        <div id="desserts" class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-12 mb-4 my-5">
                                <div class="py-4 text-center">
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                    href="#meals" rel="nofollow">
                                    Check on Meals menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#desserts" rel="nofollow">
                                        Check on Desserts menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#drinks" rel="nofollow">
                                        Check on Drinks menu
                                    </a>
                                </div>
                            </div>

                            {% for dessert in desserts %}
                            <div class="col-md-4 mb-4 my-5">
                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                    <img src="{{ dessert.image.url }}" class="img-fluid"/>
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4 my-5">
                                <h5>{{ dessert.name }}</h5>
                                <p>{{ dessert.description }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5 text-center">
                                <p>{{ dessert.price }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5">
                                <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ dessert.pk }}"
                                autocomplete="off" />
                                <label class="btn btn-dark btn-block mb-4" 
                                    style="background-color: #4f4f4f;"
                                    for="btn-check">
                                    Order
                                </label>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- drinks -->
                        <div id="drinks"  class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-12 mb-4 my-5">
                                <div class="py-4 text-center">
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                    href="#meals" rel="nofollow">
                                    Check on Meals menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#desserts" rel="nofollow">
                                        Check on Desserts menu
                                    </a>
                                    <a role="button" class="btn btn-success btn-lg m-2"
                                        href="#drinks" rel="nofollow">
                                        Check on Drinks menu
                                    </a>
                                </div>
                            </div>

                            {% for drink in drinks %}
                            <div class="col-md-4 mb-4 my-5">
                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                                    <img src="{{ drink.image.url }}" class="img-fluid"/>
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4 my-5">
                                <h5>{{ drink.name }}</h5>
                                <p>{{ drink.description }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5 text-center">
                                <p>{{ drink.price }}</p>
                            </div>

                            <div class="col-md-1 mb-4 my-5">
                                <input type="checkbox" 
                                name="items[]" 
                                class="btn-check" 
                                id="btn-check" 
                                value="{{ drink.pk }}"
                                autocomplete="off" />
                                <label class="btn btn-dark btn-block mb-4" 
                                    style="background-color: #4f4f4f;"
                                    for="btn-check">
                                    Order
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!--Section: Content-->
                </div>
            </div>
        </form>

        <!-- Pagination -->
        <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>

        <!-- checkout -->
        <div id="intro" class="text-center">
            <a class="btn btn-primary m-2" href="#" target="_blank"
            role="button">Check Out</a>
        </div>
    </div>
</main>
{% endblock content %}